Eventdlar.Identity/bin
Eventdlar.Identity/obj
Eventdlar.Api/bin
Eventdlar.Api/obj
Eventdlar.Eventer/bin
Eventdlar.Eventer/obj
Eventdlar.Common/bin
Eventdlar.Common/obj
Eventdlar.Notification/bin
Eventdlar.Notification/obj
.vs
.vscode